.header {
    border: 1px;
    background-color: #CE2829;
    padding: 4rem;
  }
  
  .logo{

    display: block;
    margin: 0 auto;
  }

  .form-container {
    width: 40%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
  }
  
  .radio-dropdown-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }


.adet-input {
    display: flex;
    align-items: center;
}

.adet-input button {
    padding: 7px;
    font-size: 14px;
    border-radius: 4px;
    background-color:#ffc107;
}

.adet-input input {
    width: 40px;
    padding: 5px;
    font-size: 14px;
}

.fiyat-bilgisi{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin-right: 10px;
       
}

.checkbox-container{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.checkbox-row{
  flex: 0 0 30%;
  margin-bottom: 10px;
  margin-right: 10px;
  

}

.adet-ozet-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .button{
    display: inline-block;
    padding: 0.3rem 1.5rem;
  }

  .button:disabled {
    background-color: #5F5F5F}


@media (max-width: 1100px){

  .form-container{
    font-size:small;

  }
  .checkbox-container{
    font-size:8px;
  }

  

}